Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''
HeaderFilterRegex: '(include|src)/.*'
FormatStyle: none
